// Mixins in here
@mobile: ~"(max-width: 500px)";
.button-signup(@radius, @color, @bg, @fontsize, @align, @padding, @width){
 
    font-size: @fontsize;
    text-align: @align;
    color: @color;
    border-radius: @radius;
    background-color: @bg;
    padding: @padding;
    width: @width;
    &:hover{
        background-color: darken(@bg, 10%);
        cursor: pointer;
    }
}

