// Navigation Styles here
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px dashed gray;
    padding-top: 2%;
    padding-bottom: 1%;

    h2{
        margin-left: 26%;
        
    }
    .links{
        margin-right: 26%;
        a{
            color: black;
            font-size: 20px;
            text-decoration: none;
            margin: 0px 10px 0px 10px;
        }
    }
}
